.container {
	display: flex;
	margin: 20px 0;

	.complete-task, .uncomplete-task {
		margin: 0 20px;
		min-width: 270px;

		h2 {
			margin: 0;
		}
	}
}

.task {
	height: 40px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 5px;
	padding: 0 10px;

	.icon {
		opacity: 0.5;
	}
	.icon:hover {
		opacity: 1;
	}
	.icon.left {
		margin-right: 10px;
	}
}
.task:last-child {
	margin-bottom: 0;
}

.todo {
	background-color: rgba(255, 255, 255, 0.8)
}
.done {
	background-color: rgba(0, 0, 0, 0.8);
	color: #ffffff;
}

.add-task {
	display: flex;
	margin-top: 5px;
	margin-bottom: 15px;
	
	.add-button {
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
	
		background-color: rgba(255, 255, 255, 0.8);
		font-size: 25px;
		opacity: 0.7;
	}
	.add-button:hover {
		opacity: 1;
	}

	input[type=text] {
		width: 100%;
		height: 40px;
		padding: 0 10px;
		border: none;
		background-color: rgba(255, 255, 255, 0.8);
	}
	input[type=text].error {
		box-sizing: border-box;
		border: solid 1px #d63031;
		color: #d63031;
	}
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

@media screen and (max-width: 715px) {
  .container {
		flex-direction: column;
	}
	
	.complete-task, .uncomplete-task {
		width: 60%;
		min-width: 0;

		.task {
			min-width: 0;
		}
	}
}